.room-code {
  height: 40px;
  border-radius: 8px;
  overflow: hidden;
  background: #fff;
  border: 1px solid #ff3333;
  cursor: pointer;

  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;

  div {
    background: #ff3333;
    padding: 0 12px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 40px;
      width: 20px;
      transition: filter 0.2s;
      &:not(:disabled):hover {
        filter: brightness(0.9);
      }

      &:disabled {
        opacity: 0.9;
        cursor: not-allowed;
      }
    }
  }

  span {
    display: block;
    align-self: center;
    flex: 1;
    padding: 0 16px 0 12px;
    width: 240px;
    font-size: 14px;
    font-weight: 500;
  }
}
